<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Todo Application</title>
</head>

<body class="flex flex-col min-h-screen">
    <div class="flex-grow grid grid-cols-6">
        <div class="col-start-3 col-span-2 mt-5">
            <h1 class="py-5 text-gray-500 font-normal text-2xl">Welcome to the To-Do Application</h1>
            <p class="py-2">New here? <a href="/signup" class="text-green-600">Sign-up</a></p>
            <p class="py-2">Already have an account? <a href="/signin" class="text-green-600">Sign-in</a></p>
        </div>
    </div>
    <div><%- include('footer.ejs') %></div>
</body>

</html>