<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>To-Do Manager</title>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2 mt-5">
            <%- include('header.ejs') %>
                <form action="/todos" method="post">
                    <div class="flex gap-3 py-5 mb-3">
                        <div>
                            <input type="text" placeholder="What's next?" required
                                class="border border-gray-300 rounded text-gray-800 p-2 text-sm w-full">
                        </div>
                        <div class="flex-auto">
                            <input type="date"
                                class="border border-gray-300 rounded text-gray-900 p-2 text-sm w-full leading-4">
                        </div>
                        <div class="flex-none">
                            <button type="submit"
                                class="bg-green-600 text-white rounded px-5 py-2 leading-5 font-medium">Add</button>
                        </div>
                    </div>
                </form>
                <div><%- include('todos.ejs') %></div>
        </div>
    </div>
    <div><%- include('footer.ejs') %></div>
</body>

</html>